body{
  background-image: url("https://img.freepik.com/premium-photo/view-foggy-mountain-landscape_1359-744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }
  .nav-links{
    align-items: right;
    align-content: right;
    gap: 10rem;
    margin-left: auto;
    padding-right: 50px;
}
.nav-links a {
    text-decoration: none;
    color: rgb(41, 65, 151);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ebbe42;
  }
  .navbar {
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    color: rgb(77, 88, 236);
  }
 
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .calci{
    text-align: center;
    margin-top: 5px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    width: 425px;
    border: 1px solid #121111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  input{
    width: 400px;
    height: 40px;
  }
  .butt {
    display: inline-block;
    padding: 0.75rem 2rem;
    background-color: #4f46e5;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .butt:hover {
    background-color: #4338ca; 
  }